// Typography

@import url( 'https://fonts.googleapis.com/css?family=Muli');
$font-family: 'Muli', sans-serif;
$font-weight: 300;
$font-title: 900;
$font-size: 1rem;
$line-height: 1.6rem;

// Title

.title {
    display: flex;
    align-content: center;
    justify-content: center;
}

// Graph div

.graph {
    height: 100%;
    width: 100%;
    background-color: lightblue;

    svg {
        height: 100%;
        width: 100%;
    }
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
